.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
    color: #fff !important;
    font-weight: 400;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255 255 255);
    font-size: 180%;
    
}
.colored-section{
    background-image: url(img5.jpg) !important;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}
body{
    font-family: "Montserrat";
    text-align: center;
  }
  p{
    color: #8f8f8f;
  }
  
  .nav-item{
    padding: 0 18px;
    
  }
  
  .nav-link{
    font-size: 1.7rem;
    font-weight: 600;
    text-decoration: underline;
    
  }
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.8rem;
    font-weight: 800;
    font-weight: bolder;
    color:darkorchid;
    
  }
/* Headings */
  
.big-heading{
  font-family: "Montserrat";
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.5;
  }
  /*white-section*/
  .testimonial-text{
    padding-top: 16px;
    font-size: 2rem;
    line-height: 1.5;
  }
  
  
  .test-img{
    width: 30%;
    border-radius:50%;
    margin: 20px;
  } 

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: red;
}
/* Footer Section */
  
.social-icon{
    margin: 20px 10px;
    padding: 4px 7px;
  }
  .copyright{
      padding-top: 10px;
      font-size: 1.5rem;
  }
  
  /* Media Queries */
  
  @media (max-width: 1028px) {
  
    #home h1,h3{
      text-align: center;
    }
    .d-button{
      margin: 5% 3% 5% 35%;
      }
  }
